.index,
.category {
  display: grid;
  grid-template-columns: 3fr 10fr;
  max-width: 68rem;
  padding: 2rem 4rem;
  margin: 0 auto;
}

.about,
.submit,
.guide,
.stats {
  display: grid;
  grid-template-columns: 4fr 10fr 3.5fr;
  max-width: 68rem;
  padding: 1rem 4rem 6rem 4rem;
  margin: 0 auto;

  .content {
    grid-column: 2;
    padding: 0 1.25rem;

    h2,
    h3,
    h4 {
      margin: 2.75rem 0 1rem .05rem;
      scroll-margin-top: 6rem;
  
      a {
        color: var(--f-color);
        font-family: var(--s-font);
        font-weight: 600;
  
        &:hover { 
          text-decoration: none;
        }
      }
    }
  
    h2 a {
      font-size: 1.5rem;
    }
  
    h3 a { 
      font-size: 1.25rem;
    }
  
    p {
      color: var(--fs-color);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      padding: .5rem 0;
      margin: 0;
  
      a {
        color: var(--l-color);
      }
    }
  
    a:hover { text-decoration: underline }

    code {
      display: block;
      font-size: .8rem;
    }
  
    ul{
      padding: 0 0 0 1.5rem;
  
      li {
        color: var(--f-color);
        font-family: var(--p-font);
        font-size: 1.05rem;
        padding: .5rem 0;
      }
    }
  
    img {
      width: 100%;
      padding: 1rem 0;
    }
  }

}