/* public-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/public-sans/public-sans-v15-latin-300.woff2') format('woff2'),
       url('/assets/fonts/public-sans/public-sans-v15-latin-300.ttf') format('truetype');
}

/* public-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/public-sans/public-sans-v15-latin-regular.woff2') format('woff2'),
       url('/assets/fonts/public-sans/public-sans-v15-latin-regular.ttf') format('truetype');
}

/* public-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/public-sans/public-sans-v15-latin-500.woff2') format('woff2'),
       url('/assets/fonts/public-sans/public-sans-v15-latin-500.ttf') format('truetype');
}

/* public-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/public-sans/public-sans-v15-latin-600.woff2') format('woff2'),
       url('/assets/fonts/public-sans/public-sans-v15-latin-600.ttf') format('truetype');
}

/* public-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/public-sans/public-sans-v15-latin-700.woff2') format('woff2'),
       url('/assets/fonts/public-sans/public-sans-v15-latin-700.ttf') format('truetype');
}

/* public-sans-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/public-sans/public-sans-v15-latin-800.woff2') format('woff2'),
       url('/assets/fonts/public-sans/public-sans-v15-latin-800.ttf') format('truetype');
}

/* libre-baskerville-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/libre-baskerville/libre-baskerville-v14-latin-regular.woff2') format('woff2'),
       url('/assets/fonts/libre-baskerville/libre-baskerville-v14-latin-regular.ttf') format('truetype');
}

/* libre-baskerville-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/libre-baskerville/libre-baskerville-v14-latin-700.woff2') format('woff2'),
       url('/assets/fonts/libre-baskerville/libre-baskerville-v14-latin-700.ttf') format('truetype');
}

@font-face {
  font-family: 'directory';
  src:  url('/assets/fonts/directory/directory.eot?5gdxab');
  src:  url('/assets/fonts/directory/directory.eot?5gdxab#iefix') format('embedded-opentype'),
    url('/assets/fonts/directory/directory.woff2?5gdxab') format('woff2'),
    url('/assets/fonts/directory/directory.ttf?5gdxab') format('truetype'),
    url('/assets/fonts/directory/directory.woff?5gdxab') format('woff'),
    url('/assets/fonts/directory/directory.svg?5gdxab#directory') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'directory' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\e936";
}
.icon-apps:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e914";
}
.icon-arrow-circle:before {
  content: "\e915";
}
.icon-blog:before {
  content: "\e901";
}
.icon-bugs:before {
  content: "\e902";
}
.icon-code:before {
  content: "\e911";
}
.icon-companies:before {
  content: "\e903";
}
.icon-crypto:before {
  content: "\e904";
}
.icon-directory:before {
  content: "\e908";
}
.icon-domains:before {
  content: "\e905";
}
.icon-forums:before {
  content: "\e906";
}
.icon-games:before {
  content: "\e907";
}
.icon-handshake:before {
  content: "\e90f";
}
.icon-hosting:before {
  content: "\e909";
}
.icon-landing:before {
  content: "\e90a";
}
.icon-news:before {
  content: "\e912";
}
.icon-portfolio:before {
  content: "\e90b";
}
.icon-random:before {
  content: "\e90c";
}
.icon-tools:before {
  content: "\e90d";
}
.icon-tutorials:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e913";
}