@import 'fonts';
@import 'config';

/* Base style */
@import 'main';

/* Pages */
@import 'pages/pages';

/* Index */
@import 'pages/index/content';
@import 'pages/index/hero';
@import 'pages/index/alert';
@import 'pages/index/card';

/* Category */
@import 'pages/category/content';
@import 'pages/category/cards';

/* Guides */
@import 'pages/guides/index';
@import 'pages/guides/guide';

/* Submit */
@import 'pages/submit/form';

/* Components */
@import 'components/header';
@import 'components/sidebar';
@import 'components/footer';

/* Dark mode */
@import 'dark';