.submit {

  form {
    display: grid;
    grid-row-gap: 1.25rem;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
    padding: 0 1.25rem;
    margin: 2rem 0 1.25rem 0;

    .group {
      width: 100%;
      position: relative;
    }

    label {
      display: block;
      text-align: start;
      font-size: .825rem;
      font-weight: 600;
      margin: 0 0 .5rem .25rem;

      span {
        color: var(--e-color);
        margin: 0 0 0 .25rem;
      }

      sub {
        font-size: .75rem;
        opacity: .75;
        vertical-align: top;
        padding: 0 0 0 .25rem;
      }
    }

    textarea,
    input {
      position: relative;
      width: 100%;
      height: 2.5rem;
      color: var(--f-color);
      background: var(--b-color);
      font-size: .925rem;
      font-weight: 400;
      padding: 0 .75rem;
      border: .1rem solid var(--hr-color);
      outline: none;

      &:focus {
        border-color: var(--btns-color);
      }

      &::placeholder {
        font-family: var(--p-font);
        font-size: .925rem;
        opacity: .8;
      }

    }
    
    @-moz-document url-prefix() {

      textarea,
      input {
        &::placeholder {
          opacity: .45;
        }
      }
    }

    select {
      position: absolute;
      right: .5rem;
      top: 1.4rem;
      background: none;
      color: var(--f-color);
      font-size: .9rem;
      padding: .65rem .25rem .65rem 0;
      border: none;
      box-shadow: none;

      &:hover {
        cursor: pointer;
      }
    }

    textarea {
      min-height: 6rem;
      font-family: var(--p-font);
      padding: .75rem;
      resize: vertical;
    }

    .desc {
      grid-column: 1/3;
    }
    
    button {
      display: inline-block;
      width: fit-content;
      color: var(--h-color);
      background: var(--b-color);
      font-family: var(--p-font);
      font-size: .95rem;
      font-weight: 600;
      border: .15rem solid var(--hr-color);
      border-radius: .25rem;
      padding: .65rem 1.85rem;
      margin: .5rem .25rem 0 0;
  
      &:hover {
        cursor: pointer;
        background: var(--b-color);
        border-color: var(--h-color);
      }
    }
  }
}