footer {
  border-top: .1rem solid var(--hr-color);

  .bottom {
    max-width: 62rem;
    margin: 0 auto;

    .nav {
      display: inline-block;
      list-style-type: none;
      white-space: nowrap;
    }

    .nav {
      padding: 1.25rem 0;
      margin: 0 1.75rem;

      li {
        display: inline-block;
        margin: 0 .5rem;

        a {
          color: var(--f-color);
          font-size: .9rem;
  
          &:hover { text-decoration: underline }
        }

        p {
          display: inline-block;
          color: var(--f-color);
          font-size: .9rem;
          margin: 0 .35rem 0 0;
        }
      }

      .highlight a {
        color: var(--h-color);
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  footer {
    display: none;
  }
}