header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--b-color);
  border-bottom: .1rem solid var(--hr-color);
  opacity: .96;
  z-index: 99;

  .nav {
    display: grid;
    grid-template-columns: 10.5rem calc(100% - 24.5rem) 14rem;
    max-width: 62rem;
    padding: .5rem 1rem;
    margin: 0 auto;

    .logo {
      height: 2.5rem;
      padding: 0;
      margin: 0 1rem;

      img {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
      }
    }

    .logo.dark {
      display: none;
    }

    .logo.light {
      display: block;
    }

    select {
      color: var(--fs-color);
      background: var(--w-color);
      box-shadow: none;
      border: none;

      &:hover {
        color: var(--fh-color);
        cursor: pointer;
      }
    }

    .cta,
    .links {
      list-style-type: none;
      white-space: nowrap;
      padding: 0;
      margin: .8rem 0 0 3.75rem;

      li {
        display: inline-block;
        margin: 0 .725rem;

        a {
          color: var(--fs-color);
          font-size: .85rem;
          font-weight: 400;

          &:hover {
            color: var(--fh-color);
          }
        }

        .highlight {
          color: var(--fh-color);
        }
      }
    }

    .cta {
      text-align: right;
      margin: .8rem 0 0 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  header {
    .nav {
      grid-template-columns: 10.5rem calc(100% - 14rem) 3.5rem;
      padding: .75rem .5rem;

      .menu-btn {
        grid-column: 3;
        color: var(--dfs-color);
        font-size: 1.5rem;
        padding: .3rem 1rem;
        margin: .25rem 0 0 0;

        .icon-menu,
        .icon-x {
          position: absolute;
          padding: 0;

          &:hover {
            cursor: pointer;
          }
        }

        .icon-menu {
          right: 1.5rem;
        }

        .icon-x {
          right: 1.65rem;
        }
      }

      .menu {
        position: fixed;
        top: 4.05rem;
        left: 0;
        width: 100%;
        height: calc(100vh - 4.05rem);
        background: var(--db-color);

        .links {
          margin: 2rem 1rem;

          li {
            display: block;
            padding: .25rem;
            margin: .5rem .725rem;

            a {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}