.alert {
  grid-column: 1/3;
  width: 100%;
  background: var(--w-color);
  box-shadow: #0000001a 0px 4px 10px 0px, #0000002a 0px 0px 1px 0px;
  border: .1rem solid var(--hr-color);
  border-radius: .25rem;
  padding: .85rem 1.25rem;
  margin: .75rem auto .25rem auto;

  p {
    display: inline-block;
    font-size: .9rem;
    text-align: left;
    margin: 0;
  }

  a {
    color: var(--l-color);
    font-size: .9rem;
    margin: 0 .5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}